pandas
numpy
polars
black
torch
ipykernel
ipywidgets
pathlib
seaborn
dill
optuna
deap
pandas-datareader
scikit-learn
mlflow
pyyaml
tiktoken
transformers
faiss-cpu
datasets
retro-pytorch
sacremoses
utils
llama-index
llama-cpp-python
pypdf
huggingface-hub
transformers
accelerate
langchain
sentence-transformers
sec-edgar-downloader
langchain
unstructured
pydantic 
lxml 
langchainhub
python-poppler
pytesseract
bitsandbytes
python-dotenv
azure-ai-formrecognizer
qdrant-client
lark